@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

#dos{
    background-color: red;
    color: white;
}
body{
    background-image: url(imgs/old-cement-wall-texture_1149-1280.jpg)
}
h1{
    background-color: rgb(196, 0, 0);
    border: 5px, solid, rgb(141, 23, 23);
    border-radius: 20px;
    color: aliceblue;
     display: block; 
    margin: auto;
    margin: 50px;
    margin-top: 5px;
    font-family: Share Tech;
}
h3{
    font-family: Share Tech;
}
.mainDiv{
    display: grid;
    align-items: center;
    text-align: center;
    background-color:rgb(65, 65, 65);
    border-radius: 20px;
    height: 815px;
    border: 10px, solid, rgb(85, 85, 85);
}
button{
    text-align: center;
    width: 200px;
    box-shadow: 1px 1px 5px black;
    border: none;
    border-radius:3px;
    font-family: Share Tech;
    transition: 0.3s background-color;
    font-size: 20px;
}
#dos:hover{
    background-color: rgb(241, 185, 17);
}
#send:hover{
    background-color: rgb(34, 255, 0);
}
#restart:hover{
    background-color:  rgb(34, 255, 0);
}
.buttons{
    display: block; 
    margin: auto;
}
input
{
    text-align: center;
    width: 200px;
    font-family: Share Tech;
    font-size: 20px;
    box-shadow: 1px 1px 5px black;
    border: none;
    border-radius:3px;
    transition: 0.5s background-color;
    transition: 0.5s width;
    font-size: 20px;
}
input:focus{
    background-color: cornsilk;
    width: 250px;
}
.inputs{
    display: block; 
    margin: auto;
}
#viewDiv{
    display: block; 
    margin: auto;
}
#obrazek{
    width: 200px;
    border-radius: 20px;
}
#viewDiv{
    background-color: rgb(196, 0, 0);
    border: 5px, solid, rgb(141, 23, 23);
    border-radius: 20px;
    padding: 10px;
}
#textDiv{
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 5px;
}
#jmeno{
    margin-bottom: 20px;
    background-color:rgb(65, 65, 65);
    border: 10px, solid, rgb(85, 85, 85);
    padding: 5px;
}